@mixin icon {
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.switcher {
  display: flex;
  flex-direction: column;

  &--controls {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;

    &--length {
      align-self: center;
      font-size: 2rem;
    }

    &--decrement-icon {
      @include icon;
      background-image: url(../../assets/minus.svg);
    }

    &--increment-icon {
      @include icon;
      background-image: url(../../assets/plus.svg);
    }
  }
}
