@mixin icon {
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.switcher {
  display: flex;
  flex-direction: column;
  color: #d1d1d1;

  &--label {
    font-size: 1.7rem;
  }

  &--controls {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;

    &--length {
      align-self: center;
      font-size: 2rem;
      line-height: 1.6rem;
    }

    &--decrement-icon {
      @include icon;
      background-image: url(../../assets/minus.svg);
    }

    &--increment-icon {
      @include icon;
      background-image: url(../../assets/plus.svg);
    }
  }
}
