.App {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 400px;
  text-align: center;

  &--clock-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
